    <form method="get" action="/quizes/question">
      Autor 1: Heriberto Cortés <p>
      Autor 2: Heriberto Cortés <p>
      <img src="/images/hcz-foto.jpg" WIDTH=140 HEIGHT=210  ALT="Mi foto">
      <video width="320" height="240" controls preload autoplay
      src="/images/hcz-video.webm" type="video/webm" > </video>
       <br>
      <input type="submit" value="Volver">
    </form>